main {
  width: 70%;
  box-sizing: border-box;
  margin: 50px auto;
}

.logged-in-keyset {
  display: flex;
  gap: 20px;
}

.logged-in-keyset p {
  color: var(--text-color);
  position: relative;
}

.logged-in-keyset p::after {
  content: '|';
  position: absolute;
  left: calc(100% + 7px);
}

.logged-in-keyset #logout {
  transition: color 0.2222s;
}

.logged-in-keyset #logout:hover {
  color: var(--text-color-hovered);
}

h1 {
  color: var(--text-color);
  margin-bottom: 20px;
}

.messages .card:not(:last-child) {
  margin-bottom: 10px;
}

.messages .card p:not(:last-child) {
  margin-bottom: 10px;
}

.messages .card .days {
  list-style-type: square;
  color: var(--text-color);
  margin-left: 20px;
}

.no-message {
  color: var(--text-color);
}